@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");

* {
  box-sizing: border-box;
}

body {
  font-family: "Kaushan Script", cursive;
  background: var(--mainWhite);
  color: var(--mainBlack);
}

.shopItems {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.container {
  padding: 20px 60px;
  display: flex;
  flex-direction: column;
  background-color: var(--gray);
}

// todo buttons come too close when no item in list
.buttons {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  padding-block: 10px;
  gap: 30px
}

.icon--search {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--mainPink);
  color: var(--mainBlack);
  border-radius: 8px 0 0 8px;
}

.inputSection {
  display: grid;
  grid-template-columns: 40px 1fr;
}

@media (min-width: 992px) {
  .homepage {

  }
}
